button {
    width: 250px;
    height: 80px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}

.boton_clic {
    background-color: blue;
}

.boton_reinicio {
    background-color: azure;
}